[(#AUTORISER{voir,reservation_formulaire,#ID_RESERVATION_FORMULAIRE}|sinon_interdire_acces)]
[(#SET{url_voir,#VAL{reservation_formulaire}|objet_info{url_voir}})]
[(#SET{url_edit,#VAL{reservation_formulaire}|objet_info{url_edit}})]
<BOUCLE_reservation_formulaire(RESERVATION_FORMULAIRES){id_reservation_formulaire}{statut==.*}{si #ENV{exec}|=={#GET{url_voir}}}>
[(#BOITE_OUVRIR{[
	[(#AUTORISER{modifier,reservation_formulaire,#ID_RESERVATION_FORMULAIRE})
		[(#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire}|non)
			[(#URL_ECRIRE{#GET{url_edit},id_reservation_formulaire=#ID_RESERVATION_FORMULAIRE}|icone_verticale{<:reservation_formulaire:icone_modifier_reservation_formulaire:>,reservation_formulaire,edit,right ajax preload})]
		]
		[(#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire}|oui)
			[(#URL_ECRIRE{#GET{url_edit},id_reservation_formulaire=#ID_RESERVATION_FORMULAIRE}|icone_verticale{#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire},warning-24,'',right edition_deja ajax preload})]
		]
	]

	<h1>[(#RANG). ](#TITRE|sinon{<:info_sans_titre:>})[(#CHEMIN_IMAGE{reservation_formulaire-24.png}|balise_img{reservation_formulaire,cadre-icone})]</h1>

],simple fiche_objet})]

<div class="ajax">
	#FORMULAIRE_DATER{reservation_formulaire,#ID_RESERVATION_FORMULAIRE}
</div>

<!--affiche_milieu-->

<div id="wysiwyg">
<INCLURE{fond=prive/objets/contenu/reservation_formulaire,id=#ID_RESERVATION_FORMULAIRE,id_reservation_formulaire=#ID_RESERVATION_FORMULAIRE,virtuel=oui,ajax=wysiwyg,wysiwyg=1}>
</div>

<div class="nettoyeur"></div>

[(#AUTORISER{modifier,reservation_formulaire,#ID_RESERVATION_FORMULAIRE})
	[(#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire}|non)
		[(#URL_ECRIRE{#GET{url_edit},id_reservation_formulaire=#ID_RESERVATION_FORMULAIRE}|icone_verticale{<:reservation_formulaire:icone_modifier_reservation_formulaire:>,reservation_formulaire,edit,right ajax preload})]
	]
	[(#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire}|oui)
		[(#URL_ECRIRE{#GET{url_edit},id_reservation_formulaire=#ID_RESERVATION_FORMULAIRE}|icone_verticale{#ID_RESERVATION_FORMULAIRE|afficher_qui_edite{reservation_formulaire},warning-24,'',right edition_deja ajax preload})]
	]
]

<div class="nettoyeur"></div>
<div class="liste">
	<BOUCLE_objetslies(spip_reservation_formulaires_liens){id_reservation_formulaire}{0,1}><h3><:reservation_formulaire:titre_objets_lies_reservation_formulaire:></h3></BOUCLE_objetslies>

	<BOUCLE_listeobjets(spip_reservation_formulaires_liens){id_reservation_formulaire}{fusion objet}{par objet}>
		#SET{table,#OBJET|table_objet}
		[(#SET{titre,[#OBJET:info_(#GET{table})_liees_reservation_formulaire]})]
		[(#SET{liste,#VAL{prive/objets/liste/#GET{table}}|trouver_fond|?{#GET{table},objets_lies_reservation_formulaire}})]
		<INCLURE{fond=prive/objets/liste/#GET{liste},objet,id_reservation_formulaire,ajax,env} />
	</BOUCLE_listeobjets>
</div>

#PIPELINE{afficher_complement_objet,#ARRAY{args,#ARRAY{type,reservation_formulaire,id,#ID_RESERVATION_FORMULAIRE},data,'<div class="nettoyeur"></div>'}}

#BOITE_FERMER


#SET{enfants,''}
[(#VAL{prive/objets/contenu/reservation_formulaire-enfants}|trouver_fond|oui)
	[(#SET{enfants,[(#INCLURE{fond=prive/objets/contenu/reservation_formulaire-enfants,id_reservation_formulaire,env})]})]
]
[(#PIPELINE{affiche_enfants,[(#ARRAY{args,#ARRAY{exec,reservation_formulaire,id_reservation_formulaire,#ID_RESERVATION_FORMULAIRE,objet,reservation_formulaire,id_objet,#ID_RESERVATION_FORMULAIRE},data,#GET{enfants}})]})]

[(#EVAL{_AJAX}|oui)
	<script type="text/javascript">/*<!\\[CDATA\\[*/reloadExecPage('#ENV{exec}','#navigation,#chemin,#extra');/*\\]\\]>*/</script>
]
</BOUCLE_reservation_formulaire>
[(#ENV**{exec}|=={#GET{url_edit}}|?{#INCLURE{fond=prive/squelettes/contenu/#GET{url_edit},redirect='',env,retourajax=oui},#REM|sinon_interdire_acces})]
<//B_reservation_formulaire>
